
.contato-section {
    width: 100%;
    background-image: url(https://images.hdqwalls.com/download/red-gradient-minimal-4k-yj-1360x768.jpg);
}

.contato-titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: relative;
    left: 4%;

}



.perfil {
    border-radius: 20em;
    width: 15%;
    margin-top: 2em;
    
}

.nome {
    position: relative;
    bottom: 5em;
    left: 2em;
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 110%,

}

.Contato-details {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.Contato-lista li {
    display: inline-block;
    margin-left: 1em;
}

.celular {
    width: 3em;
    position: relative;
    left: 2em;
    top: 1em; 
}


.Contato-icone {
    width: 4em;
    height: 4em;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
